# global ignores
**/.venv/
**/nyc_taxi_data/
**/.ipynb_checkpoints/
.env
*.env
.env.*
**/.env
**/.env.*
# local configs and credentials
**/profiles.yml
**/.user.yml


.bruin.yml
logs/runs
logs/*.log
__pycache__/
*.py[cod]
de-zoomcamp-project/.envdf -h
